#header{
	height: 514px;
	background: #DEECDF;
	text-align: center;
	position: relative;
}
#header .head{
	margin-top: 100px;
}
#header h1 span{
	color: #00CFBD;
}
#arrow{
	width: 140px;
	height: 56px;
	background: #00CFBD;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -70px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}
#arrow span{
	width: 21px;
	height: 25px;
	font-family: "glyphicons-halflings-regular";
	font-size: 20px;
	color: #fff;
}
#arrow span::before{
	content: "\e252";
}

#study-skill{
	margin-top: 50px;
	height: 300px;
}
#study{
	width: 470px;
	height: 272px;
}
#skill{
	width: 470px;
	height: 298px;
}
#study, #skill{
	float: left;
}
#study-skill h2{
	font-family: 'Nunito-Bold';
}
#study-skill h2 span{
	color: #00CFC3;
}
#study li{
	color: #393b3a;
	margin-top: 15px;
	font-weight: 400;
}
#study li span{
	color: #9CA69D;
}
#skill .progress{
	width: 440px;
	height: 20px;
	background: #F5F5F5;
	margin-top: 5px;
	border-radius: 5px;
}
#skill h3{
	margin-top: 5px;
}
#skill .progress div{
	height: 100%;
	border-radius: 5px 0 0 5px;
}
#skill .html{
	width: 30%;
	background: #DEECDF;
}
#skill .css{
	width: 50%;
	background: #ACB5B8;
}
#skill .js{
	width: 40%;
	background: #78B3AE;
}
#skill .php{
	width: 30%;
	background: #8C9D82;
}

#best{
	height: 240px;
}
#best li{
	width: 312px;
	height: 212px;
	float: left;
	text-align: center;
}
#best h3{
	margin-top: 20px;
	font-family: 'Nunito-Bold';
}
#best li p{
	width: 282px;
	margin-top: 20px;
	color: #9CA69D;
	line-height: 20px;
}
.sprite{
	width: 64px;
	height: 64px;
	background-image: url(../img/img-sprite.png);
	background-repeat: no-repeat;
	margin: 0 auto;
}
#best .support{
	background-position: -64px 0;
}
#best .solutions{
	background-position: -128px 0;
}

#social{
	text-align: center;
	margin-top: 50px;
	height: 240px;
}
#social h2{
	font-family: 'Nunito-Bold';
	margin-bottom: 30px;
}
#social li{
	width: 234px;
	height: 88px;
	float: left;
}
#social .sprite{
	float: left;
	margin-left: 60px;
}
#social .twitter{
	background-position: -64px 0;
}
#social .google{
	background-position: -128px 0;
}
#social .behance{
	background-position: -192px 0;
}
#social li span{
	font-size: 30px;
	color: #B4BEB9;
	float: left;
	line-height: 60px;
	margin-left: 5px;
}
#social p{
	clear: both;
	color: #393b3a;
	cursor: pointer;
	padding-top: 20px;
}

#contact-us{
	text-align: center;
	background: #DEECDF;
	height: 400px;
	overflow: hidden;
}
#contact-us h2{
	font-family: 'Nunito-Bold';
	margin: 30px 0;
}
#contact-us input[type="text"]{
	width: 440px;
	height: 64px;
	outline: none;
	text-indent: 10px;
	margin-bottom: 10px;
	border: 1px solid #7ca17f;
	background: #DEECDF;
}
#contact-us textarea{
	width: 440px;
	height: 225px;
	float: left;
	margin-left: 50px;
	outline: none;
	text-indent: 10px;
	border: 1px solid #7ca17f;
	background: #DEECDF;
	resize: none;
}
#contact-us .input{
	float: left;
	width: 440px;
}
#contact-us input[type="submit"]{
	float: right;
	margin-right: 40px;
	width: 136px;
	height: 48px;
	background: #000;
	color: #fff;
	border: 0;
	font-family: 'Nunito-Bold';
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 20px;
	transition: background .5s ease;
}
#contact-us input[type="submit"]:hover{
	background: #00CFBD;
}
#footer{
	height: 72px;
	text-align: center;
	line-height: 72px;
	color: #1B1B1B;
	font-weight: 400;
}
#top{
	width: 48px;
	height: 48px;
	background: url(../img/to-top2.png) no-repeat center;
	cursor: pointer;
	position: fixed;
	right: 10px;
	bottom: 30px;
}